{% extends "layout.html" %}

{% block head %}
<style>
    
</style>
{% endblock %}

{% block body %}

<main>

    <div class="slider-area">
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="slider-active dot-style">
    
    <div class="single-slider slider-height slider-bg1 d-flex align-items-center">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7">
    <div class="hero-caption text-center">
    <span data-animation="fadeInUp" data-delay=".2s">Science Fiction</span>
    <h1 data-animation="fadeInUp" data-delay=".4s">The History<br> of Phipino</h1>
    <a href="#" class="btn hero-btn" data-animation="bounceIn" data-delay=".8s">Browse Store</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="single-slider slider-height slider-bg2 d-flex align-items-center">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7">
    <div class="hero-caption text-center">
    <span data-animation="fadeInUp" data-delay=".2s">Science Fiction</span>
    <h1 data-animation="fadeInUp" data-delay=".4s">The History<br> of Phipino</h1>
    <a href="#" class="btn hero-btn" data-animation="bounceIn" data-delay=".8s">Browse Store</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="single-slider slider-height slider-bg3 d-flex align-items-center">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-xxl-4 col-xl-4 col-lg-5 col-md-6 col-sm-7">
    <div class="hero-caption text-center">
    <span data-animation="fadeInUp" data-delay=".2s">Science Fiction</span>
    <h1 data-animation="fadeInUp" data-delay=".4s">The History<br> of Phipino</h1>
    <a href="#" class="btn hero-btn" data-animation="bounceIn" data-delay=".8s">Browse Store</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    
    <div class="best-selling section-bg">
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-xl-7 col-lg-8">
    <div class="section-tittle text-center mb-55">
    <h2>Best Selling Books Ever</h2>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-xl-12">
    <div class="selling-active">
    
    <div class="properties pb-20">
    <div class="properties-card">
    <div class="properties-img">
    <a href="book-details.html"><img src="{{ url_for('static',filename='assets/img/gallery/best_selling1.jpg') }}" alt=""></a>
    </div>
    <div class="properties-caption">
    <h3><a href="book-details.html">Moon Dance</a></h3>
    <p>J. R Rain</p>
    <div class="properties-footer d-flex justify-content-between align-items-center">
    <div class="review">
    <div class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half-alt"></i>
    </div>
    <p>(<span>120</span> Review)</p>
    </div>
    <div class="price">
    <span>$50</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="properties pb-20">
    <div class="properties-card">
    <div class="properties-img">
    <a href="book-details.html"><img src="{{ url_for('static',filename='assets/img/gallery/best_selling2.jpg') }}" alt=""></a>
    </div>
    <div class="properties-caption">
    <h3><a href="book-details.html">Moon Dance</a></h3>
    <p>J. R Rain</p>
    <div class="properties-footer d-flex justify-content-between align-items-center">
    <div class="review">
    <div class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half-alt"></i>
    </div>
    <p>(<span>120</span> Review)</p>
    </div>
    <div class="price">
    <span>$50</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="properties pb-20">
    <div class="properties-card">
    <div class="properties-img">
    <a href="book-details.html"><img src="{{ url_for('static',filename='assets/img/gallery/best_selling3.jpg') }}" alt=""></a>
    </div>
    <div class="properties-caption">
    <h3><a href="book-details.html">Moon Dance</a></h3>
    <p>J. R Rain</p>
    <div class="properties-footer d-flex justify-content-between align-items-center">
    <div class="review">
    <div class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half-alt"></i>
    </div>
    <p>(<span>120</span> Review)</p>
    </div>
    <div class="price">
    <span>$50</span>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="properties pb-20">
    <div class="properties-card">
    <div class="properties-img">
    <a href="book-details.html"><img src="{{ url_for('static',filename='assets/img/gallery/best_selling4.jpg') }}" alt=""></a>
    </div>
    <div class="properties-caption">
    <h3><a href="book-details.html">Moon Dance</a></h3>
    <p>J. R Rain</p>
    <div class="properties-footer d-flex justify-content-between align-items-center">
    <div class="review">
    <div class="rating">
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star-half-alt"></i>
    </div>
    <p>(<span>120</span> Review)</p>
    </div>
    <div class="price">
    <span>$50</span>
    </div>
    </div>
    </div>
    </div>
    </div>
	
	<h1>Ths is my changes</h1>
	
	<h1>Ths is my changes</h1>
	<h1>Ths is my changes</h1>
	<h1>Ths is my changes</h1>
	<h1>Ths is my changes</h1>
	<h1>Ths is my changes</h1>
	<h1>Ths is my changes</h1>
	<h1>Ths is my changes</h1>
	<h1>Ths is my changes</h1>
	<h1>Ths is my changes</h1>
	<h1>Ths is my changes</h1>
	<h1>Ths is my changes</h1>
    
{% endblock %}